body {
    background: #00000A;
    color: #eeeeee;

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;

    font-size: 16px;
}

header, footer, main
{
    margin: 0;
    padding: 40px;
}

header {
    display: block;
}

main {
    display: block;
}

footer {
    display: block;

    text-align: center;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.headerText {
    font-size: 12px;
}

.largeText
{
    font-size: 64px;
}

.mediumText
{
    font-size: 28px;
}

.smallText
{
    font-size: 18px;
}

.footerText {
    font-size: 12px;
}

.mainLogoMid
{
    height: 20vw;
    float: right;
    padding: 64px;
}

@media (orientation: portrait)
{
	.mainLogoMid
	{
		float: none;
        padding: 8px;
        height: 40vw;
	}
}

.defaultCTA {
    font-size: 16px;

    padding: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 8px;

    font-weight:normal;
}

.accentCTA
{
    background: #0055BB;
    color: #ffffff;
}

.accentCTA:active,
.accentCTA:hover {
    color: #3366AA;
    background: #ffffff;
    color: #ffffff;
    background: #333333;
}

.stdCTA
{
    background: #111111;
    color: #eeeeee;
}

.stdCTA:active, .stdCTA:hover
{
    background: #0055BB;
    color: #ffffff;
    background: #333333;
}

.logoAbstract {
    height: 32px;
}

.logoWritten {
    height: 20px;
    padding: 6px;
}

.iconSocial {
    padding: 8px;
    border-radius: 8px;

    color: #eeeeee;
    font-size: 24px;

    display: inline-block;
    text-align: center;
}

.iconSocial:active, .iconSocial:hover
{
    color: #0055BB;
    background: #333333;
    background: #ffffff;
}

.accentText
{
    color: #3366AA;
    color: #0055BB;
}

.accentBackground
{
    background: #0055BB;
}