:root
{
    /*--accentColor: #0055bb;
    --accentColor: rebeccapurple;
    --accentColor: #663388;
    --accentColor: #00aa33;
    --accentColor: #ffbb33;*/
    --accentColor: #ff3333;
}

html
{
    background-color: #ffffff;
    /*background-image: no-repeat url("../../assets/media/backgrounds/bg1.png");
	background-size: cover;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);*/
}

body
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: unset;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    color: #111111;
    transition: all 0.2s ease;
}

header, footer, main, div, section, h1, h2, h3, h4, h5, h6, p, nav, aside, body, span, ul, li, hr, br
{
    margin: 0;
    padding: 0;
    border: none;
}

a, a:active, a:hover, a:visited
{
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
    font-weight: bold;
}
a:visited
{
    color: initial;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 350;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 0.95rem;
}

a {
  font-size: 0.8rem;
}

header, main, footer
{
    text-align: center;
    overflow: hidden;
    overflow: hidden;
}

/* shared classes */
.accentBackground
{
    background-color: var(--accentColor);
}
.accentText
{
    color: var(--accentColor);
}
.defaultCTA
{
    border-radius: 256px;
    display: inline-block;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;

    font-size: 0.7rem;
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease;
}
.defaultCTA:visited
{
    color: #ffffff;
}
@media (orientation: portrait)
{
    .defaultCTA
    {
        font-size: 0.85rem;
    }
}
.accentCTA
{
    background-color: var(--accentColor);
}
.defCTAWrapper
{
    padding-top: 64px;
    padding-bottom: 32px;
    font-size: smaller;
}
.defCTAWrapper ul
{
    display: inline-flex;
    gap: 16px;
}
.defCTAWrapper li
{
    display: inline-block;
}
@media (orientation: portrait)
{
    .defCTAWrapper ul
    {
        flex-direction: column;
    }
    .defCTAWrapper a
    {
        display: block;
    }
}
.defaultCTA:active, .defaultCTA:hover
{
    background-color: #333333;
    color: #eeeeee;
}
.defSection
{
    padding: 64px;
}
@media (orientation: portrait)
{
    .defSection
    {
        padding: 32px;
        padding-top: 64px;
        padding-bottom: 64px;
    }
}
.sectionHead
{
    padding-bottom: 64px;
}
.frostedGlass
{
  background: rgba(0, 0, 0, 0.4);        /* semi-transparent */
  backdrop-filter: blur(16px);                /* frosted glass blur */
  -webkit-backdrop-filter: blur(16px);        /* for Safari */
}
.quotedText
{
    padding-top: 64px;
    padding-bottom: 40px;
}
.defWidth
{
	max-width: 1024px;
	margin: auto;
}


/* cards */
.defCardWrapper
{
    display: flex;
    gap: 16px;
}
@media (orientation: portrait)
{
    .defCardWrapper
    {
        flex-direction: column;
    }
}
.defCardColumn
{
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 16px;
}
.defCard
{
    flex: 1;
    font-size: smaller;
}
.defCard img
{
    width: 10vh;
}
.defCard h3
{
    padding-bottom: 16px;
}
.defCard h4
{
    padding-bottom: 8px;
}
.defCard p
{
    text-align: justify;
}
.defCardLabels
{
    padding-top: 8px;
    padding-bottom: 16px;
    display: inline-flex;
    gap: 4px;
}
.defCardLabels li
{
    font-size: 0.75rem;
    display: inline-block;
    background-color: #111111;
    color: #eeeeee;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 256px;
}

/* body */

/* header */
header
{
    padding: 32px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: box-shadow 0.4s ease;
    transition: all 0.4s ease;
    transition: background-color 0.8s ease;
}
header.scrolled
{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #eeeeee; /* Color when scrolled */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
@media (orientation: portrait)
{
    header, header.scrolled
    {
        padding: 32px;
    }
}
.headerLogo, .headerNav, .headerSocialIcons
{
    display: inline-block
}

.headerLogo
{
    float: inline-start;
}
.logoAbstract
{
    height: 32px;
}
.logoWordmark
{
    height: 16px;
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}
@media (orientation: portrait)
{
    .logoWordmark
    {
        display: none;
    }
}

.headerNav
{
    float: none;
}
.headerNav ul
{
    display: flex;
    gap: 4px;
}
.headerNav li
{
    flex: auto;
    display: inline-block;
}
.headerNav a
{
    display: block;
    padding: 8px;
}
.headerNav a:active, .headerNav a:hover
{
    color: var(--accentColor);
}
@media (orientation: portrait)
{
    .headerNav
    {
        float: right;
        display: none;
    }
    .headerNav ul
    {
        flex-direction: column;
    }
}

.headerSocialIcons
{
    float: inline-end;
}
.headerSocialIcons ul
{
    display: flex;
    gap: 4px;
}
.headerSocialIcons li
{
    flex: auto;
    display: inline-block;
}
.headerSocialIcons a
{
    display: block;
    padding: 8px;
    font-size: 0.9rem;
}
.headerSocialIcons a:active, .headerSocialIcons a:hover
{
    color: var(--accentColor);
}

/* main */
main
{
    padding-top: 64px;
    padding-bottom: 16px;
    /*background-image: url("../../assets/media/backgrounds/pexels-asim-razan-32997.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
}
@media (orientation: portrait)
{
    main
    {
        padding-top: 64px;
        background-image: none;
    }
}
.mainCover
{
    font-size: larger;
    padding-top: 200px;
    padding-bottom: 72px;
}
@media (orientation: portrait)
{
    .mainCover
    {
        padding-top: 128px;
        padding-bottom: 48px;
    }
}

.whatWeDo
{
    background-color: #eeeeee;
}

.ourWork
{
    transition: all 0.8s ease;
}
.ourWork .defCard
{
    border-radius: 16px;
}
.ourWork .defCard .cardImageWrapper
{
    border-radius: 16px 16px 0 0;
    border-radius: 16px;
    margin-bottom: 32px;

    height: 160px;
    width: 100%;
    overflow: hidden;
}
.ourWork .defCard .cardImageWrapper img
{
    width: 100%;
}
.ourWork .defCard h3
{
    color: #111111;
}
.ourWork .defCard:active, .ourWork .defCard:hover
{
    transition: all 0.4s ease;
}

.whyUs
{
    background-color: #eeeeee;
}
.whyUs .defCard .cardImageWrapper
{
    border-radius: 1024px;
    border: 2px solid #999999;
    display: inline-block;
    margin-bottom: 16px;
    margin-top: 16px;
}
.whyUs .defCard .cardImageWrapper img
{
    padding: 24px;
}

.aboutUs
{
    background-color: #eeeeee;
}
.aboutUs .defCardColumn
{
    gap: 64px;
}
.aboutUs .defCard p, .aboutUs .defCard li
{
    display: block;
    font-size: inherit;
    text-align: left;
    padding-top: 16px;
}

/* footer */
footer
{
    padding: 64px;
    padding-top: 48px;
}
@media (orientation: portrait)
{
    footer
    {
        padding: 32px;
    }
}
.logoFooterLong
{
    width: 100%;
    padding-bottom: 32px;
    display: none;
}
.footerSocialIcons
{
    font-size: 1rem;
}
.footerSocialIcons ul
{
    display: inline-flex;
    gap: 8px;
}
.footerSocialIcons li
{
    display: block;
}
.footerSocialIcons a
{
    font-size: 1.2rem;
    padding: 8px;
}
.footerSocialIcons a:active, .footerSocialIcons a:hover
{
    color: var(--accentColor);
}
