:root
{
    --accentColor: #0055BB;
    --themeColor: #000033;
}

body {
    background: var(--themeColor);
    color: #eeeeee;

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;

    font-size: 16px;
}

header, footer, main, div, section, h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

/* Common Classes */

.largeText
{
    font-size: 64px;
}

.mediumText
{
    font-size: 28px;
}

.smallText
{
    font-size: 18px;
}

.defaultCTA {
    font-size: 16px;

    padding: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 4px;

    font-weight:normal;
}

.accentCTA
{
    background: var(--accentColor);
    color: #ffffff;
}

.accentCTA:active, .accentCTA:hover
{
    color: #ffffff;
    background: #333333;
}

.stdCTA
{
    background: #111111;
    color: #eeeeee;
}

.stdCTA:active, .stdCTA:hover
{
    color: #ffffff;
    background: #333333;
}

.accentText
{
    color: var(--accentColor);
}

.accentBackground
{
    background: var(--accentColor);
}

.iconSocial
{
    width: fit-content;
    display: inline;
}

.iconSocial a {
    padding: 8px;
    border-radius: 8px;
    
    color: #eeeeee;

    display: inline-block;
    text-align: center;
}

.iconSocial a:active, .iconSocial a:hover
{
    color: var(--accentColor);
    background: #ffffff;
}

.defSection
{
    display: block;
    overflow: hidden;
    padding-top: 48px;
    padding-bottom: 48px;
}

.sectionHead
{
    padding: 32px;
    padding-top: 8px;
}

.stripeWrapper
{
    padding: 4px;
}

.sectionStripe
{
    display: flex;

    border-radius: 4px;

    padding: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.sectionStripe:hover, .sectionStripe:active
{
   background: rgba(255, 255, 255, 0.1)
}

.stripeSectionIcon, .stripeSectionHeading, .stripeSectionPara
{
    overflow: hidden;
}

.stripeSectionIcon
{
    padding: 4px;
}

.stripeSectionHeading
{
    padding: 8px;
}

.stripeSectionPara
{
    padding: 8px;
}

.stripeSectionIcon img
{
    height: 64px;
    width: 100%;
    background: var(--accentColor);

    border-radius: 4px;
}

.stripeSectionHeading, .stripeSectionHeading p
{
    font-size: 24px;
    width: fit-content;
}

.stripeSectionPara, .stripeSectionPara p
{
    font-size: 16px;
    text-align: justify;
}
.stripeSectionIcon 
{
    flex: 2;
}

.stripeSectionHeading 
{
    flex: 3;
}

.stripeSectionPara 
{
    flex: 7;
}

@media (orientation: portrait)
{
    .sectionStripe
    {
        display: block;
    }
    .stripeSectionIcon
    {
        display: inline;
    }
    .stripeSectionHeading 
    {
        display: inline-flex;
        padding-top: 16px;
    }
    .stripeSectionPara
    {
        display: block;
        padding-top: 16px;
    }
}

.defSectionBoxWrapper
{
    display: flex;
    overflow: hidden;
    padding-left: 32px;
    padding-right: 32px;
}

.defSectionBox
{
    flex: 1;
    border-radius: 4px;

    text-align: justify;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 32px;
}

.defSectionBox img
{
    background: var(--accentColor);
    border-radius: 4px;
    width: 100%;
    height: 128px;
}

.defSectionBoxHeading
{
    padding: 0;
    padding: 32px;

    font-size: 20px;
    text-align: center;
}

.defSectionBox:hover, .defSectionBox:active
{
    background: rgba(0, 0, 0, 0.1);
}

@media (orientation: portrait)
{
    .defSectionBoxWrapper
    {
        display: block;
    }
    .defSectionBox
    {
        display: block;
    }
}

/* Header */

header
{
    display: block;
    padding: 32px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    width: auto;

    background: var(--themeColor);
}

@media (orientation: portrait)
{
    header
    {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.headerText
{
    font-size: 32px;
}

.headerLogo a
{
    display: block;
}

.logoAbstract {
    height: 32px;
}

.logoWritten {
    height: 20px;
    padding: 6px;
}

@media (orientation: portrait)
{
    .logoWritten
    {
        display: none;
    }
}

.iconSocialHeader
{
    float: right;
    font-size: 24px;
}

.iconSocialHeader a
{
    padding: 4px;
}

/* Main */

main
{
    display: block;
}

.mainSection
{
    padding: 32px;
    padding-top: 128px;
    padding-bottom: 72px;
}

.mainLogoMid
{
    height: 20vw;
    float: right;
    padding: 64px;
}

@media (orientation: portrait)
{
	.mainLogoMid
	{
		float: none;
        padding: 8px;
        height: 40vw;
	}
}

.whatWeDo
{
    background: #eeeeee;
    color: #111;
}

.whatWeDo .sectionStripe:hover, .whatWeDo .sectionStripe:active
{
    background: rgba(255, 255, 255, 0.1);
    background: #111;
    color: #eee;
}

.aboutUs
{
    background: #111;
    color: #eee;
}

.aboutUs .defSectionBox:hover, .aboutUs .defSectionBox:active
{
    background: #eeeeee;
    color: #111;
}

/* Footer */

footer
{
    padding: 32px;
    padding-bottom: 64px;
    padding-top: 64px;

    display: block;

    text-align: center;
}

@media (orientation: portrait)
{
    footer
    {
        padding-top: 32px;
        padding-bottom: 48px;
    }
}

.footerText
{
    font-size: 12px;
}

.iconSocialFooter
{
    font-size: 24px;
}
